@import '../../node_modules/tfstyleguide/core.less';
@import "../../node_modules/tfstyleguide/vars";

header {
  background-color: @blue;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @white;
    margin: 0 auto;
    max-width: 1020px;
    padding: 0.3rem 0;

    ul {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      li {
        list-style: none;
        margin: 0;

        a.add-bookmark {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2rem;
          font-size: 1.5rem;
          font-weight: bold;
          min-width: 0;
          padding-left: 0;
          padding-right: 0;
          margin: 0;
          margin-left: 1rem;
          height: 2rem;

          span {
            margin-top: 2px;
          }
        }

        a.add-bookmark:hover {
          background-image: none;
          background-color: transparent;
          border: 3px solid #fff;
          color: #fff;
        }

        a.logo {
          display: flex;
          align-items: center;
        }
      }
    }

    input {
      margin: 0;
      width: 15rem;
    }
  }
}

.main-section {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  margin: 0 auto;

  .sidebar {
    width: 36rem;

    ul {
      li {
        list-style: none;
        margin: 0;
      }
    }
  }

  .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .bookmark-tile {
      list-style: none;
      margin: 0;

      h3 {
        height: 10rem;
        width: 16rem;
        position: relative;
        z-index: 1;
        margin: 0.5rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .4;
        background-size: cover;
        border-radius: 0.8rem;
      }
    }
  }
}
